body {
  margin-top: 30px;
  font-family: 'Slabo 27px', serif;
  background-color: #FDFFF7;
  font-size: 2em;
  color: #22223B;
}

.page-header {
  font-family: 'Londrina Outline', cursive;
  color: #2081C3;
}

/* customize form */

.custom-title {
  font-variant: small-caps;
  font-size: 2em;
}

.btn {
  border-color: #22223B;
}

.btn-main {
  background-color: #22223B;
  border-color: #22223B;
  color: #FDFFF7;
}

.btn-main:focus {
  color: white;
  text-decoration: none;
}

.address-type {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

#add-address {
  margin-bottom: 10px;
}

.separator {
    height: 1px;
    width:100%;
    display:block;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.form-control {
  border-color: #22223B;
  background-color: #FDFFF7;
}

/*Display contacts list*/

.address-book {
  margin-top: 40px;
}

#custom-heading {
  color: #FDFFF7;
  background-color: #21897E;
  border-color: #78D5D7;
  font-variant: small-caps;
  font-size: 3em;
}

.panel-body {
  background-color: #78D5D7;
}

.img-icon {
  height: 50px;
}

#contacts dt {
  width: 70px;
}

#contacts dd {
  margin-left: 20px;
  margin-bottom: 10px;
}

/*Hide contact display sections */

#show-contact, .address-book {
  display: none;
}

/*Make contact name clickable*/

.contact {
  cursor: pointer;
  color: #02025b;
  font-size: 30px;
}

.contact:hover {
  text-decoration: underline;
}

/*Display contact details*/

.glyphicon {
  padding-right: 5px;
}

#show-contact h2 {
  color: #78D5D7;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 3em;
}

.title {
  color: #78D5D7;
}

#addresses dd {
  margin-left: 20px;
  margin-bottom: 10px;
}

#addresses dt {
  width: 30px;
}
